KBVault.Web/obj/*
packages/*
KBVault.Web/obj/debug/*
KBVault.Web/bin/*
KBVault.Web/Properties/PublishProfiles/*.user
KBVault.Dal/obj/*
KBVault.Dal/obj/debug/*
KBVault.Dal/bin/*
KBVault.Core/obj/*
KBVault.Core/obj/*/*
KBVault.Core/bin/*
KBVault.Web/Lucene/*
KBVault.Web/Uploads/*
KBVault.Web/logs/*
KBVault.Backup/obj/*
KBVault.Backup/obj/debug/*
KBVault.Backup/bin/*
*.pdb
.vs/KBVault.Web/v14/.suo
.vs/config/applicationhost.config
KBVault.Backup/bin/
deploy/
.vs/
