<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="KBVault Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0021" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>