@model KBVault.Web.Models.CategoryViewModel

@{
    ViewBag.Title = UIResources.CategoryCreateFormPageTitle;
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@section Scripts{
      $(function () {
            var indexer = $.connection.indexerHub;
            indexer.client.updateProgress = function (currentCategoryIdx, totalCategoryCount, categoryname, articleName) {
                $('#CategoryProgress').text(currentCategoryIdx + "/" + totalCategoryCount + " : " + categoryName);
                $('#ArticleName').text("Article: " + articleName);
            };

            $.connection.hub.start().done(function () {
                $('#StartIndexing').click(function () {
                    // Call the Send method on the hub.
                    indexer.server.rebuildIndexes();
                });
            });
        });
}
@section ContentHeader{
    <h1>
        @UIResources.IndexingRebuildIndexTitle
        <!-- <small>Control panel</small> -->
    </h1>   
}

<div>
    <button id="StartIndexing">StartIndexing</button>
    <h1 id="CategoryProgress"></h1>
    <h2 id="ArticleName"></h2>
</div>
@*
<script>
        $(function () {            
            var indexer = $.connection.indexerHub;
            indexer.client.updateProgress = function (currentCategoryIdx, totalCategoryCount, categoryname, articleName) {                
                $('#CategoryProgress').text(currentCategoryIdx + "/" + totalCategoryCount + " : " + categoryName);
                $('#ArticleName').text("Article: " + articleName);
            };
            
            $.connection.hub.start().done(function () {
                $('#StartIndexing').click(function () {
                    // Call the Send method on the hub.
                    indexer.server.rebuildIndexes();                                        
                });
            });
        });
        
</script>
*@