<connectionStrings>
  <add name="KbVaultEntities" 
       connectionString="metadata=res://*/KBVaultEntityModel.csdl|res://*/KBVaultEntityModel.ssdl|res://*/KBVaultEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\LOCALDBSERVER;initial catalog=kbvault;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />    
</connectionStrings>
