<connectionStrings>
  <add name="KbVaultEntities" 
       connectionString="metadata=res://*/KBVaultEntityModel.csdl|res://*/KBVaultEntityModel.ssdl|res://*/KBVaultEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=kbvault;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />

  <add name="KbVaultContext" connectionString="data source=.\sqlexpress;initial catalog=kbvault;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
