@using MvcPaging

@{
    ViewBag.Title = ErrorMessages.ArticleNotFound;
    Layout = "~/Views/Home/Themes/Default/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-10">
        <h2 class="section-title clearfix">
            <span class="line"></span> @ViewBag.Title
        </h2>
    </div>
    <div class="col-xs-10">
        
    </div>
</div>
